# Deaths Reported

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta

In [2]:
data = pd.read_csv('../data/death_percentages/only_ext_temp-reorg_2020-2024.csv')

In [3]:
data.columns = [col.replace(' ','_').lower() for col in data.columns]

In [4]:
data

,region,subregion,country,location,start_year,start_month,end_year,end_month,duration_in_months_-_all_events,disaster_subtype,magnitude,total_deaths,total_affected
0,Asia,Southern Asia,Afghanistan,"Badakhshan, Badghis, Balkh, Farah, Faryab, Gho...",2024,3.0,2024,3.0,0.0,Severe winter conditions,-33.0,1197.0,327422.0
1,Asia,Southern Asia,Afghanistan,"Ghor, Baghlan, Sar-e-Pul, Faryab, Takhar, Kand...",2023,1.0,2023,1.0,0.0,Cold wave,-33.0,166.0,0.0
2,Asia,Southern Asia,Bangladesh,"Shyampur, Bangshal, Kotwali (Dhaka), Sutrapur,...",2024,4.0,2024,5.0,1.0,Heat wave,38.0,10.0,33000000.0
3,Americas,Northern America,Canada,British Columbia,2021,6.0,2021,7.0,1.0,Heat wave,49.6,815.0,0.0
4,Europe,Southern Europe,Croatia,"Zagreb, Osijek, Karlovac, Slavonski Brod, Knin...",2022,5.0,2022,9.0,4.0,Heat wave,40.0,731.0,0.0
5,Europe,Northern Europe,Denmark,"Abed, Stokkemarke Parish, Lolland, Copenhagen,...",2022,5.0,2022,9.0,4.0,Heat wave,35.9,252.0,0.0
6,Europe,Western Europe,France,Rhone region,2021,4.0,2021,4.0,0.0,Cold wave,NaN,0.0,0.0
7,Europe,Southern Europe,Greece,Crete,2023,7.0,2023,7.0,0.0,Heat wave,44.2,4339.0,0.0
8,Asia,Southern Asia,India,"New Delhi; Rajasthan, Bihar, Gujarat, West Raj...",2024,3.0,2024,6.0,3.0,Heat wave,50.5,733.0,25000.0
9,Asia,Southern Asia,India,Maharashtra state,2023,4.0,2023,4.0,0.0,Heat wave,38.0,11.0,330.0
10,Asia,Southern Asia,India,"Uttar Pradesh, Bihar, Tripura, Odisha",2023,4.0,2023,6.0,2.0,Heat wave,45.0,179.0,460.0
11,Asia,Southern Asia,India,"Maharashtra State, West Rajasthan",2022,3.0,2022,4.0,1.0,Heat wave,45.0,25.0,0.0
12,Europe,Southern Europe,Italy,"Sardaigne, Sicile, Roe, Bologne, Pascara, Naples",2023,7.0,2023,8.0,1.0,Heat wave,48.8,12743.0,0.0
13,Asia,Eastern Asia,Japan,"Shizuoka, Osaka, Nara, Tochigi, Fukuoka, Hokka...",2024,4.0,2024,9.0,5.0,Heat wave,41.0,123.0,37000.0
14,Asia,Eastern Asia,Japan,"Gunma, Tochigi, Yamanashi, Aichi, Tokyo",2022,6.0,2022,7.0,1.0,Heat wave,37.0,80.0,14300.0
15,Asia,Western Asia,Jordan,"Ajloun, Karak, Mafraq, Amman, Taleh, Irbid, Maan",2023,11.0,2023,12.0,1.0,Cold wave,7.5,0.0,2000.0
16,Asia,Central Asia,Kyrgyzstan,"Osh, Kara-Suu town, Jalalabad city, Kadamjay d...",2022,7.0,2022,7.0,0.0,Heat wave,41.0,0.0,13850.0
17,Asia,South-eastern Asia,Lao People's Democratic Republic,"Tha Ngon, Seno",2024,4.0,2024,5.0,1.0,Heat wave,43.6,0.0,0.0
18,Asia,Western Asia,Lebanon,"Bekaa, Mount Lebanon, North, South",2024,1.0,2024,1.0,0.0,Cold wave,0.0,0.0,2975000.0
19,Asia,Western Asia,Lebanon,"Bekaa Valley, Beirut, Mount Lebanon",2023,1.0,2023,2.0,1.0,Cold wave,NaN,0.0,1024200.0
20,Asia,Eastern Asia,Mongolia,"Dornod, Dornogovi, Dundgovi, Govi-Altai, Khent...",2023,5.0,2023,5.0,0.0,Cold wave,NaN,2.0,5100.0
21,Asia,Eastern Asia,Mongolia,"Arhangai, Bayanhongor, Bayan-Ölgii, Dornogovi,...",2022,11.0,2022,12.0,1.0,Cold wave,-34.0,0.0,29662.0
22,Asia,Southern Asia,Pakistan,"Karachi, Sindh province",2024,6.0,2024,6.0,0.0,Heat wave,50.0,568.0,7905.0
23,Asia,Southern Asia,Pakistan,Sindh,2024,5.0,2024,5.0,0.0,Heat wave,53.0,0.0,0.0
24,Europe,Southern Europe,Spain,"Figueres, Catalunya",2023,7.0,2023,8.0,1.0,Heat wave,45.4,8352.0,0.0
25,Asia,Western Asia,State of Palestine,West Bank & Gaza Strip,2022,1.0,2022,1.0,0.0,Severe winter conditions,NaN,4.0,3500.0
26,Asia,Western Asia,State of Palestine,West Bank and Gaza Strip,2020,1.0,2020,2.0,1.0,Cold wave,0.0,3.0,30000.0
27,Americas,Northern America,United States of America,Arizona,2024,4.0,2024,10.0,6.0,Heat wave,40.0,1006.0,0.0
28,Americas,Northern America,United States of America,"Texas, Louisiana, Florida, Arizona, New Mexico...",2023,6.0,2023,7.0,1.0,Heat wave,56.7,14.0,0.0
29,Americas,Northern America,United States of America,"Texas, Arkansas, Louisiana, Oklahoma, Tennesse...",2023,1.0,2023,2.0,1.0,Severe winter conditions,-50.0,10.0,25.0
30,Americas,Northern America,United States of America,"Oregon, Washington, Northern California, Idaho...",2021,6.0,2021,6.0,0.0,Heat wave,46.8,229.0,0.0

In [5]:
df = pd.read_excel('../data/raw/emdat_extreme_temperature_deaths_2000_2025.xlsx')

df

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2000-0003-BGD,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm1_code"":575,""adm1_name"":""Barisal""},{""adm...",2003-07-01,2023-09-25
1,2000-0020-IND,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm1_code"":1511,""adm1_name"":""West Bengal""},...",2003-07-01,2023-09-25
2,2000-0029-BGR,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,BGR,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm1_code"":722,""adm1_name"":""Sofia""},{""adm1_...",2003-07-01,2023-09-25
3,2000-0092-EGY,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,EGY,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm1_code"":61518,""adm1_name"":""Fayoum""},{""ad...",2003-07-01,2023-09-25
4,2000-0165-RUS,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,RUS,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm1_code"":2535,""adm1_name"":""Moskva""}]",2003-07-01,2023-09-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,2024-0452-PAK,No,nat-met-ext-hea,Natural,Meteorological,Extreme temperature,Heat wave,NaN,NaN,PAK,...,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,2024-07-11,2025-02-06
531,2024-0531-MAR,No,nat-met-ext-hea,Natural,Meteorological,Extreme temperature,Heat wave,NaN,NaN,MAR,...,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,2024-07-25,2025-01-22
532,2024-0754-USA,No,nat-met-ext-hea,Natural,Meteorological,Extreme temperature,Heat wave,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,2024-10-18,2025-03-19
533,2024-0963-JPN,No,nat-met-ext-hea,Natural,Meteorological,Extreme temperature,Heat wave,NaN,NaN,JPN,...,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,2025-01-28,2025-01-28
534,2024-0964-KOR,No,nat-met-ext-hea,Natural,Meteorological,Extreme temperature,Heat wave,NaN,NaN,KOR,...,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,2025-01-29,2025-01-29

In [6]:
df1 = df.drop(columns=[
    'Historic', 'Classification Key', 'Disaster Group', 'Disaster Subgroup', 'Disaster Type', 
    'External IDs', 'Event Name', 'ISO','OFDA/BHA Response', 'Appeal', 'Declaration', 
    "AID Contribution ('000 US$)", 'River Basin','No. Injured', 'No. Affected', 'No. Homeless', 
    'Total Affected', "Reconstruction Costs ('000 US$)", "Reconstruction Costs, Adjusted ('000 US$)",
    "Insured Damage ('000 US$)", "Insured Damage, Adjusted ('000 US$)", "Total Damage ('000 US$)", 
    "Total Damage, Adjusted ('000 US$)", 'CPI', 'Admin Units'
])

In [7]:
df1.isnull().sum()

DisNo.                0
Disaster Subtype      0
Country               0
Subregion             0
Region                0
Location            109
Origin              529
Associated Types    453
Magnitude           238
Magnitude Scale       0
Latitude            535
Longitude           535
Start Year            0
Start Month           0
Start Day           239
End Year              0
End Month             1
End Day             257
Total Deaths         91
Entry Date            0
Last Update           0
dtype: int64

In [8]:
df1 = df1.dropna(subset=['Total Deaths'])

In [9]:
df1 = df1.dropna(subset=['Start Day', 'End Day'])

In [10]:
df1 = df1.reset_index(drop=True)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DisNo.            232 non-null    object
 1   Disaster Subtype  232 non-null    object
 2   Country           232 non-null    object
 3   Subregion         232 non-null    object
 4   Region            232 non-null    object
 5   Location          173 non-null    object
 6   Origin            1 non-null      object
 7   Associated Types  36 non-null     object
 8   Magnitude         145 non-null    float64
 9   Magnitude Scale   232 non-null    object
 10  Latitude          0 non-null      float64
 11  Longitude         0 non-null      float64
 12  Start Year        232 non-null    int64
 13  Start Month       232 non-null    int64
 14  Start Day         232 non-null    float64
 15  End Year          232 non-null    int64
 16  End Month         232 non-null    float64
 17  End Day           232 non-null    float64
 18  Total Deaths      232 non-null    float64
 19  Entry Date        232 non-null    object
 20  Last Update       232 non-null    object
dtypes: float64(7), int64(3), object(11)
memory usage: 38.2+ KB

In [12]:
df1[['Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day']] = df1[[
    'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day'
]].astype('int64')

In [13]:
for i in df1.index:
    df1.loc[i,'start_date'] = date(
        df1.loc[i,'Start Year'], 
        df1.loc[i,'Start Month'], 
        df1.loc[i,'Start Day']
    )
    df1.loc[i,'end_date'] = date(
        df1.loc[i,'End Year'], 
        df1.loc[i,'End Month'], 
        df1.loc[i,'End Day']
    )
    df1.loc[i, 'duration_days'] = df1.loc[i,'end_date'] - df1.loc[i,'start_date']

In [14]:
df1.loc[162,'duration_days']

Timedelta('10 days 00:00:00')

In [15]:
df2 = df1.drop(columns= ['Start Day', 'End Year', 'End Month', 'End Day', 'Latitude', 'Longitude', 
                         'Origin', 'Associated Types', 'Entry Date', 'Last Update', 'DisNo.'])

In [16]:
df2

,Disaster Subtype,Country,Subregion,Region,Location,Magnitude,Magnitude Scale,Start Year,Start Month,Total Deaths,start_date,end_date,duration_days
0,Cold wave,Argentina,Latin America and the Caribbean,Americas,"Buenos Aires, Sante Fe, Formosa, Santa Cruz pr...",0.0,°C,2000,6,15.0,2000-06-17,2000-06-17,0 days
1,Cold wave,Kyrgyzstan,Central Asia,Asia,"Bishkek, Chuy, Talas, Ysyk-Kol provinces",0.0,°C,2000,10,11.0,2000-10-16,2000-10-16,0 days
2,Cold wave,Russian Federation,Eastern Europe,Europe,"Moskva, Moskovskaya Oblast provinces",-7.0,°C,2000,10,232.0,2000-10-10,2000-10-10,0 days
3,Cold wave,Afghanistan,Southern Asia,Asia,"Hirat, Faryab, Jawzjan, Balkh, Samangan, Sar-e...",-25.0,°C,2001,1,150.0,2001-01-31,2001-02-20,20 days
4,Cold wave,Poland,Eastern Europe,Europe,"Dolnoslaskie, Kujawsko-Pomorskie, Lodzkie, Lub...",-25.0,°C,2001,10,270.0,2001-10-10,2002-01-20,102 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,Heat wave,Pakistan,Southern Asia,Asia,"Karachi, Sindh province",50.0,°C,2024,6,568.0,2024-06-20,2024-06-25,5 days
228,Heat wave,Morocco,Northern Africa,Africa,NaN,48.0,°C,2024,7,21.0,2024-07-22,2024-07-24,2 days
229,Heat wave,United States of America,Northern America,Americas,Arizona,40.0,°C,2024,4,1006.0,2024-04-18,2024-10-31,196 days
230,Heat wave,Japan,Eastern Asia,Asia,"Shizuoka, Osaka, Nara, Tochigi, Fukuoka, Hokka...",41.0,°C,2024,4,123.0,2024-04-01,2024-09-30,182 days
231,Heat wave,Republic of Korea,Eastern Asia,Asia,NaN,35.0,°C,2024,5,22.0,2024-05-20,2024-09-30,133 days

In [17]:
df3= df2[df2['duration_days']>timedelta(days=1)]

In [18]:
cold_deaths_reported = df3[df3['Disaster Subtype'] == 'Cold wave'].reset_index(drop=True)

In [19]:
cold_deaths_reported

,Disaster Subtype,Country,Subregion,Region,Location,Magnitude,Magnitude Scale,Start Year,Start Month,Total Deaths,start_date,end_date,duration_days
0,Cold wave,Afghanistan,Southern Asia,Asia,"Hirat, Faryab, Jawzjan, Balkh, Samangan, Sar-e...",-25.0,°C,2001,1,150.0,2001-01-31,2001-02-20,20 days
1,Cold wave,Poland,Eastern Europe,Europe,"Dolnoslaskie, Kujawsko-Pomorskie, Lodzkie, Lub...",-25.0,°C,2001,10,270.0,2001-10-10,2002-01-20,102 days
2,Cold wave,Peru,Latin America and the Caribbean,Americas,"Ayacucho, Huancavelica, Tacna, Moquegua, Arequ...",-28.0,°C,2003,7,339.0,2003-07-07,2003-08-15,39 days
3,Cold wave,United States of America,Northern America,Americas,"Connecticut, Delaware, Maryland, Maine, New Ha...",NaN,°C,2004,1,3.0,2004-01-09,2004-01-12,3 days
4,Cold wave,Germany,Western Europe,Europe,Nordrhein-Westfalen province,NaN,°C,2005,11,1.0,2005-11-25,2005-11-27,2 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Cold wave,Romania,Eastern Europe,Europe,NaN,NaN,°C,2018,2,2.0,2018-02-23,2018-02-28,5 days
71,Cold wave,Algeria,Northern Africa,Africa,"Tizi Ouzou, Medea, Setif, Bourdj Bouriridj, Ba...",NaN,°C,2019,1,8.0,2019-01-11,2019-03-22,70 days
72,Cold wave,State of Palestine,Western Asia,Asia,West Bank and Gaza Strip,0.0,°C,2020,1,3.0,2020-01-18,2020-02-05,18 days
73,Cold wave,Afghanistan,Southern Asia,Asia,"Ghor, Baghlan, Sar-e-Pul, Faryab, Takhar, Kand...",-33.0,°C,2023,1,166.0,2023-01-09,2023-01-23,14 days
74,Cold wave,Mongolia,Eastern Asia,Asia,"Dornod, Dornogovi, Dundgovi, Govi-Altai, Khent...",NaN,°C,2023,5,2.0,2023-05-19,2023-05-22,3 days

In [20]:
heat_deaths_reported = df3[df3['Disaster Subtype'] == 'Heat wave'].reset_index(drop=True)

In [21]:
heat_deaths_reported

,Disaster Subtype,Country,Subregion,Region,Location,Magnitude,Magnitude Scale,Start Year,Start Month,Total Deaths,start_date,end_date,duration_days
0,Heat wave,India,Southern Asia,Asia,"Madhya Pradesh, Andhra Pradesh, Uttar Pradesh,...",50.0,°C,2002,5,1030.0,2002-05-10,2002-05-22,12 days
1,Heat wave,Bangladesh,Southern Asia,Asia,"Dhaka, Khulna, Rajshahi provinces",40.0,°C,2003,5,62.0,2003-05-10,2003-06-12,33 days
2,Heat wave,India,Southern Asia,Asia,"Andhra Pradesh, Orissa, Tamil Nadu, Vidarbha (...",49.0,°C,2003,5,1210.0,2003-05-14,2003-06-06,23 days
3,Heat wave,Pakistan,Southern Asia,Asia,Punjab province,50.0,°C,2003,5,200.0,2003-05-01,2003-06-06,36 days
4,Heat wave,Belgium,Western Europe,Europe,Region de Bruxelles-Capitale/Brussels Hoofdste...,NaN,°C,2003,8,1175.0,2003-08-01,2003-08-15,14 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Heat wave,Pakistan,Southern Asia,Asia,"Karachi, Sindh province",50.0,°C,2024,6,568.0,2024-06-20,2024-06-25,5 days
107,Heat wave,Morocco,Northern Africa,Africa,NaN,48.0,°C,2024,7,21.0,2024-07-22,2024-07-24,2 days
108,Heat wave,United States of America,Northern America,Americas,Arizona,40.0,°C,2024,4,1006.0,2024-04-18,2024-10-31,196 days
109,Heat wave,Japan,Eastern Asia,Asia,"Shizuoka, Osaka, Nara, Tochigi, Fukuoka, Hokka...",41.0,°C,2024,4,123.0,2024-04-01,2024-09-30,182 days
110,Heat wave,Republic of Korea,Eastern Asia,Asia,NaN,35.0,°C,2024,5,22.0,2024-05-20,2024-09-30,133 days

In [22]:
heat_deaths_reported.isnull().sum()

Disaster Subtype     0
Country              0
Subregion            0
Region               0
Location            49
Magnitude           29
Magnitude Scale      0
Start Year           0
Start Month          0
Total Deaths         0
start_date           0
end_date             0
duration_days        0
dtype: int64

Missing 29 temperature entries

In [23]:
heat_deaths_reported.columns = [col.lower().replace(' ','_') for col in heat_deaths_reported.columns]

In [24]:
heat_deaths_reported = heat_deaths_reported.rename(columns = {'magnitude': 'temperature'})

In [25]:
heat_deaths_reported.to_csv('../data/extreme_temp/heat_deaths_reported.csv')

In [26]:
cold_deaths_reported.columns = [col.lower().replace(' ','_') for col in cold_deaths_reported.columns]

In [27]:
cold_deaths_reported = cold_deaths_reported.rename(columns = {'magnitude': 'temperature'})

In [28]:
cold_deaths_reported.to_csv('../data/extreme_temp/cold_deaths_reported.csv')