Project 4

In [144]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', '{:.2f}'.format)

In [145]:
data = pd.read_csv('../data/raw/emdat_extreme_temperature_deaths_2000_2025.csv')
data.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,Country,Subregion,Region,Location,Origin,Associated Types,OFDA/BHA Response,Appeal,Declaration,AID Contribution ('000 US$),Magnitude,Magnitude Scale,Latitude,Longitude,River Basin,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2000-0003-BGD,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,BGD,Bangladesh,Southern Asia,Asia,"Barisal, Chittagong, Dhaka, Khulna, Rajshahi, ...",NaN,NaN,No,No,No,NaN,6.40,째C,NaN,NaN,NaN,2000,1,NaN,2000,1.00,NaN,49.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.90,"[{""adm1_code"":575,""adm1_name"":""Barisal""},{""adm...",2003-07-01,2023-09-25
1,2000-0020-IND,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,IND,India,Southern Asia,Asia,"Bihar, Uttar Pradesh, West Bengal provinces",NaN,NaN,No,No,No,NaN,NaN,째C,NaN,NaN,NaN,2000,1,NaN,2000,1.00,NaN,275.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.90,"[{""adm1_code"":1511,""adm1_name"":""West Bengal""},...",2003-07-01,2023-09-25
2,2000-0029-BGR,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,BGR,Bulgaria,Eastern Europe,Europe,"Sofia province, Sofia-city province",NaN,NaN,No,No,No,NaN,NaN,째C,NaN,NaN,NaN,2000,1,NaN,2000,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.90,"[{""adm1_code"":722,""adm1_name"":""Sofia""},{""adm1_...",2003-07-01,2023-09-25
3,2000-0092-EGY,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,EGY,Egypt,Northern Africa,Africa,"Kalyoubia, Shrkia, Fayoum province",NaN,NaN,No,No,No,NaN,2.00,째C,NaN,NaN,NaN,2000,1,NaN,2000,1.00,NaN,3.00,105.00,NaN,NaN,105.00,NaN,NaN,NaN,NaN,NaN,NaN,54.90,"[{""adm1_code"":61518,""adm1_name"":""Fayoum""},{""ad...",2003-07-01,2023-09-25
4,2000-0165-RUS,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,RUS,Russian Federation,Eastern Europe,Europe,Moskva province,NaN,NaN,No,No,No,NaN,NaN,째C,NaN,NaN,NaN,2000,2,NaN,2000,2.00,NaN,13.00,252.00,NaN,NaN,252.00,NaN,NaN,NaN,NaN,NaN,NaN,54.90,"[{""adm1_code"":2535,""adm1_name"":""Moskva""}]",2003-07-01,2023-09-25

In [146]:
cols = ['Start Year','End Year','Disaster Subtype','Country','Total Deaths']
data = data[cols]
data

,Start Year,End Year,Disaster Subtype,Country,Total Deaths
0,2000,2000,Cold wave,Bangladesh,49.00
1,2000,2000,Cold wave,India,275.00
2,2000,2000,Cold wave,Bulgaria,NaN
3,2000,2000,Cold wave,Egypt,3.00
4,2000,2000,Cold wave,Russian Federation,13.00
5,2000,2000,Cold wave,Belarus,NaN
6,2000,2000,Heat wave,Croatia,40.00
7,2000,2000,Cold wave,Ukraine,NaN
8,2000,2000,Heat wave,Pakistan,24.00
9,2000,2000,Heat wave,Greece,27.00
10,2000,2000,Heat wave,Romania,6.00
11,2000,2000,Heat wave,T체rkiye,11.00
12,2000,2000,Heat wave,Bulgaria,7.00
13,2000,2000,Heat wave,Serbia Montenegro,3.00
14,2000,2000,Heat wave,Cyprus,5.00
15,2000,2000,Cold wave,Bolivia (Plurinational State of),6.00
16,2000,2000,Cold wave,Argentina,15.00
17,2000,2000,Cold wave,Uruguay,7.00
18,2000,2000,Cold wave,Chile,NaN
19,2000,2000,Heat wave,United States of America,35.00
20,2000,2000,Heat wave,Jordan,NaN
21,2000,2000,Heat wave,Israel,NaN
22,2000,2000,Cold wave,Paraguay,8.00
23,2000,2000,Heat wave,Morocco,NaN
24,2000,2000,Cold wave,Kyrgyzstan,11.00
25,2000,2000,Cold wave,Russian Federation,232.00
26,2000,2000,Cold wave,Mexico,66.00
27,2000,2000,Cold wave,Poland,84.00
28,2001,2001,Cold wave,India,125.00
29,2001,2001,Cold wave,Kazakhstan,3.00
30,2001,2001,Cold wave,Russian Federation,145.00
31,2001,2001,Cold wave,Afghanistan,150.00
32,2001,2001,Cold wave,Argentina,14.00
33,2001,2001,Heat wave,Russian Federation,276.00
34,2001,2001,Cold wave,Russian Federation,332.00
35,2001,2002,Cold wave,Poland,270.00
36,2001,2001,Cold wave,Romania,10.00
37,2001,2001,Cold wave,Afghanistan,177.00
38,2001,2001,Cold wave,India,48.00
39,2001,2001,Cold wave,Hungary,81.00
40,2001,2001,Cold wave,T체rkiye,29.00
41,2001,2001,Cold wave,North Macedonia,15.00
42,2001,2001,Cold wave,Latvia,21.00
43,2001,2001,Cold wave,Lithuania,20.00
44,2001,2001,Cold wave,Bangladesh,6.00
45,2001,2001,Cold wave,Guatemala,NaN
46,2001,2001,Heat wave,United States of America,56.00
47,2001,2001,Heat wave,New Zealand,NaN
48,2002,2002,Heat wave,Pakistan,113.00
49,2002,2002,Heat wave,India,1030.00
50,2002,2002,Heat wave,Nigeria,60.00
51,2002,2002,Heat wave,United States of America,14.00
52,2002,2002,Cold wave,Argentina,NaN
53,2002,2002,Cold wave,Chile,NaN
54,2002,2002,Heat wave,China,7.00
55,2002,2002,Cold wave,Russian Federation,242.00
56,2002,2003,Cold wave,Poland,183.00
57,2002,2002,Cold wave,Romania,10.00
58,2002,2002,Cold wave,Mexico,50.00
59,2002,2002,Cold wave,India,900.00
60,2002,2003,Cold wave,Bangladesh,700.00
61,2002,2002,Cold wave,Nepal,60.00
62,2002,2002,Cold wave,Pakistan,NaN
63,2003,2003,Cold wave,Latvia,15.00
64,2003,2003,Heat wave,Bangladesh,62.00
65,2003,2003,Heat wave,India,1210.00
66,2003,2003,Heat wave,Pakistan,200.00
67,2003,2003,Cold wave,Peru,339.00
68,2003,2003,Heat wave,Austria,345.00
69,2003,2003,Heat wave,Belgium,1175.00
70,2003,2003,Heat wave,Switzerland,1039.00
71,2003,2003,Heat wave,Czechia,418.00
72,2003,2003,Heat wave,Germany,9355.00
73,2003,2003,Heat wave,Spain,15090.00
74,2003,2003,Heat wave,France,19490.00
75,2003,2003,Heat wave,United Kingdom of Great Britain and Northern I...,301.00
76,2003,2003,Heat wave,Croatia,788.00
77,2003,2003,Heat wave,Italy,20089.00
78,2003,2003,Heat wave,Luxembourg,170.00
79,2003,2003,Heat wave,Netherlands (Kingdom of the),965.00
80,2003,2003,Heat wave,Portugal,2696.00
81,2003,2003,Heat wave,Slovakia,NaN
82,2003,2003,Heat wave,Slovenia,289.00
83,2003,2003,Cold wave,Mexico,21.00
84,2003,2004,Cold wave,Bangladesh,153.00
85,2003,2004,Cold wave,India,400.00
86,2003,2004,Cold wave,Nepal,48.00
87,2003,2003,Heat wave,Algeria,40.00
88,2004,2004,Cold wave,T체rkiye,10.00
89,2004,2004,Heat wave,China,39.00
90,2004,2004,Cold wave,Argentina,5.00
91,2004,2004,Cold wave,Brazil,NaN
92,2004,2004,Cold wave,Chile,NaN
93,2004,2004,Cold wave,Peru,90.00
94,2004,2004,Cold wave,Paraguay,NaN
95,2004,2004,Cold wave,Uruguay,NaN
96,2004,2004,Heat wave,Albania,3.00
97,2004,2004,Heat wave,North Macedonia,15.00
98,2004,2004,Heat wave,Romania,27.00
99,2004,2004,Heat wave,Japan,10.00
100,2004,2004,Heat wave,Spain,26.00
101,2004,2004,Heat wave,Canary Islands,13.00
102,2004,2004,Cold wave,Mexico,14.00
103,2004,2004,Cold wave,United States of America,3.00
104,2005,2005,Heat wave,Bangladesh,NaN
105,2005,2005,Heat wave,India,329.00
106,2005,2005,Heat wave,China,NaN
107,2005,2005,Heat wave,Pakistan,106.00
108,2005,2005,Cold wave,Belgium,2.00
109,2005,2005,Cold wave,Germany,1.00
110,2005,2005,Cold wave,France,6.00
111,2005,2005,Cold wave,United Kingdom of Great Britain and Northern I...,NaN
112,2005,2005,Cold wave,Netherlands (Kingdom of the),NaN
113,2005,2005,Heat wave,United States of America,33.00
114,2005,2006,Severe winter conditions,Bangladesh,100.00
115,2005,2006,Severe winter conditions,India,180.00
116,2005,2006,Severe winter conditions,Austria,NaN
117,2005,2005,Severe winter conditions,Belgium,NaN
118,2006,2006,Severe winter conditions,Bulgaria,18.00
119,2006,2006,Severe winter conditions,Belarus,5.00
120,2005,2005,Severe winter conditions,Switzerland,NaN
121,2005,2006,Severe winter conditions,Czechia,15.00
122,2006,2006,Severe winter conditions,Germany,10.00
123,2005,2006,Severe winter conditions,Spain,9.00
124,2006,2006,Severe winter conditions,Estonia,3.00
125,2005,2005,Severe winter conditions,France,2.00
126,2005,2005,Severe winter conditions,United Kingdom of Great Britain and Northern I...,1.00
127,2005,2005,Severe winter conditions,Croatia,5.00
128,2005,2006,Severe winter conditions,Hungary,48.00
129,2005,2006,Severe winter conditions,Italy,9.00
130,2006,2006,Severe winter conditions,Latvia,40.00
131,2006,2006,Severe winter conditions,Republic of Moldova,13.00
132,2005,2005,Severe winter conditions,Netherlands (Kingdom of the),NaN
133,2005,2006,Severe winter conditions,Poland,191.00
134,2006,2006,Severe winter conditions,Romania,68.00
135,2006,2006,Severe winter conditions,Russian Federation,116.00
136,2006,2006,Severe winter conditions,Serbia Montenegro,3.00
137,2005,2005,Severe winter conditions,Slovakia,NaN
138,2005,2005,Severe winter conditions,Sweden,NaN
139,2005,2006,Severe winter conditions,T체rkiye,17.00
140,2006,2006,Severe winter conditions,Ukraine,801.00
141,2005,2005,Heat wave,Romania,13.00
142,2005,2005,Cold wave,Afghanistan,21.00
143,2005,2005,Heat wave,Portugal,462.00
144,2006,2006,Heat wave,India,47.00
145,2006,2006,Heat wave,Pakistan,84.00
146,2006,2006,Heat wave,Romania,26.00
147,2006,2006,Heat wave,Belgium,940.00
148,2006,2006,Heat wave,Germany,2.00
149,2006,2006,Heat wave,Spain,21.00
150,2006,2006,Heat wave,France,1388.00
151,2006,2006,Heat wave,Netherlands (Kingdom of the),1000.00
152,2006,2006,Heat wave,Portugal,41.00
153,2006,2006,Heat wave,United States of America,164.00
154,2006,2006,Heat wave,United States of America,24.00
155,2006,2006,Cold wave,Guatemala,6.00
156,2006,2006,Cold wave,Mexico,5.00
157,2006,2006,Cold wave,El Salvador,1.00
158,2007,2007,Severe winter conditions,Bangladesh,130.00
159,2007,2007,Heat wave,India,72.00
160,2007,2007,Cold wave,South Africa,22.00
161,2007,2007,Heat wave,Albania,NaN
162,2007,2007,Heat wave,Austria,5.00
163,2007,2007,Heat wave,Bulgaria,2.00
164,2007,2007,Heat wave,Bosnia and Herzegovina,NaN
165,2007,2007,Heat wave,Cyprus,4.00
166,2007,2007,Heat wave,Greece,16.00
167,2007,2007,Heat wave,Hungary,500.00
168,2007,2007,Heat wave,Italy,6.00
169,2007,2007,Heat wave,North Macedonia,NaN
170,2007,2007,Heat wave,Romania,30.00
171,2007,2007,Heat wave,Serbia,NaN
172,2007,2007,Heat wave,Slovakia,1.00
173,2007,2007,Heat wave,T체rkiye,3.00
174,2007,2007,Severe winter conditions,Argentina,9.00
175,2007,2007,Severe winter conditions,Bolivia (Plurinational State of),NaN
176,2007,2007,Severe winter conditions,Chile,6.00
177,2007,2007,Severe winter conditions,Peru,67.00
178,2007,2007,Severe winter conditions,Uruguay,NaN
179,2007,2007,Heat wave,Japan,62.00
180,2007,2008,Cold wave,Romania,38.00
181,2007,2008,Cold wave,India,47.00
182,2007,2007,Cold wave,India,66.00
183,2008,2008,Severe winter conditions,Afghanistan,1317.00
184,2008,2008,Cold wave,Bulgaria,10.00
185,2008,2008,Cold wave,Hungary,17.00
186,2008,2008,Severe winter conditions,China,129.00
187,2008,2008,Severe winter conditions,Tajikistan,NaN
188,2008,2008,Severe winter conditions,China,16.00
189,2008,2008,Severe winter conditions,United States of America,NaN
190,2008,2009,Cold wave,India,70.00
191,2009,2009,Cold wave,Belgium,1.00
192,2009,2009,Cold wave,Germany,1.00
193,2009,2009,Cold wave,France,2.00
194,2008,2009,Cold wave,Poland,82.00
195,2009,2009,Cold wave,Portugal,NaN
196,2009,2009,Cold wave,Romania,43.00
197,2009,2009,Cold wave,Ukraine,5.00
198,2008,2008,Heat wave,Japan,47.00
199,2009,2009,Severe winter conditions,France,3.00
200,2009,2009,Severe winter conditions,Bosnia and Herzegovina,1.00
201,2009,2009,Severe winter conditions,Serbia,NaN
202,2009,2009,Cold wave,United States of America,58.00
203,2009,2009,Heat wave,India,120.00
204,2009,2009,Cold wave,Peru,274.00
205,2009,2009,Cold wave,Austria,2.00
206,2009,2010,Cold wave,Germany,14.00
207,2009,2009,Cold wave,France,2.00
208,2009,2009,Cold wave,United Kingdom of Great Britain and Northern I...,3.00
209,2009,2009,Cold wave,Italy,NaN
210,2009,2010,Cold wave,Poland,298.00
211,2009,2009,Cold wave,Romania,11.00
212,2009,2009,Cold wave,Ukraine,27.00
213,2009,2010,Cold wave,Bangladesh,135.00
214,2010,2010,Cold wave,India,100.00
215,2009,2010,Cold wave,Nepal,18.00
216,2009,2009,Heat wave,Australia,347.00
217,2009,2010,Cold wave,Mongolia,5.00
218,2009,2009,Heat wave,Japan,16.00
219,2010,2010,Cold wave,Bulgaria,3.00
220,2010,2010,Cold wave,Romania,52.00
221,2010,2010,Cold wave,Russian Federation,13.00
222,2010,2010,Cold wave,Serbia,3.00
223,2010,2010,Heat wave,Brazil,32.00
224,2010,2010,Heat wave,India,250.00
225,2010,2010,Cold wave,Argentina,42.00
226,2010,2010,Cold wave,Bolivia (Plurinational State of),4.00
227,2010,2010,Cold wave,Chile,NaN
228,2010,2010,Cold wave,Paraguay,12.00
229,2010,2010,Cold wave,Uruguay,4.00
230,2010,2010,Heat wave,Japan,170.00
231,2010,2011,Cold wave,Peru,409.00
232,2010,2010,Heat wave,Russian Federation,55736.00
233,2010,2010,Cold wave,Switzerland,NaN
234,2010,2010,Cold wave,Czechia,12.00
235,2010,2010,Cold wave,Germany,1.00
236,2010,2010,Cold wave,France,3.00
237,2010,2010,Cold wave,United Kingdom of Great Britain and Northern I...,NaN
238,2010,2010,Cold wave,Italy,NaN
239,2010,2010,Cold wave,Lithuania,5.00
240,2010,2011,Cold wave,Poland,200.00
241,2010,2010,Cold wave,Portugal,NaN
242,2010,2010,Cold wave,Russian Federation,11.00
243,2010,2011,Cold wave,Slovakia,122.00
244,2010,2010,Heat wave,Myanmar,260.00
245,2011,2011,Cold wave,China,2.00
246,2011,2011,Cold wave,India,80.00
247,2011,2011,Cold wave,Bangladesh,50.00
248,2011,2011,Cold wave,Mexico,3.00
249,2011,2011,Cold wave,Peru,20.00
250,2011,2011,Heat wave,United States of America,22.00
251,2011,2011,Heat wave,Italy,10.00
252,2011,2011,Cold wave,Guatemala,NaN
253,2011,2011,Cold wave,Bangladesh,12.00
254,2011,2011,Heat wave,Japan,36.00
255,2011,2012,Cold wave,Nepal,NaN
256,2011,2011,Cold wave,Poland,26.00
257,2011,2011,Cold wave,Nepal,42.00
258,2011,2011,Cold wave,India,132.00
259,2011,2011,Severe winter conditions,Chile,NaN
260,2012,2012,Severe winter conditions,Albania,5.00
261,2012,2012,Severe winter conditions,Serbia,9.00
262,2012,2012,Cold wave,India,15.00
263,2012,2012,Cold wave,Austria,5.00
264,2012,2012,Cold wave,Azerbaijan,5.00
265,2012,2012,Cold wave,Belgium,3.00
266,2012,2012,Cold wave,Bulgaria,30.00
267,2012,2012,Cold wave,Bosnia and Herzegovina,4.00
268,2012,2012,Cold wave,Belarus,NaN
269,2012,2012,Cold wave,Switzerland,NaN
270,2012,2012,Cold wave,Czechia,25.00
271,2012,2012,Cold wave,Germany,4.00
272,2012,2012,Cold wave,Estonia,1.00
273,2012,2012,Cold wave,France,12.00
274,2012,2012,Cold wave,Greece,5.00
275,2012,2012,Cold wave,Croatia,3.00
276,2012,2012,Cold wave,Hungary,16.00
277,2012,2012,Cold wave,Italy,45.00
278,2012,2012,Cold wave,Lithuania,24.00
279,2012,2012,Cold wave,Latvia,10.00
280,2012,2012,Cold wave,Republic of Moldova,10.00
281,2012,2012,Cold wave,North Macedonia,1.00
282,2012,2012,Cold wave,Montenegro,1.00
283,2012,2012,Cold wave,Netherlands (Kingdom of the),1.00
284,2012,2012,Cold wave,Poland,82.00
285,2012,2012,Cold wave,Romania,86.00
286,2012,2012,Cold wave,Russian Federation,64.00
287,2012,2012,Cold wave,Serbia,10.00
288,2012,2012,Cold wave,Slovakia,5.00
289,2012,2012,Cold wave,Ukraine,112.00
290,2012,2012,Cold wave,Morocco,NaN
291,2012,2012,Severe winter conditions,Afghanistan,45.00
292,2012,2012,Severe winter conditions,Tajikistan,1.00
293,2012,2012,Heat wave,United States of America,123.00
294,2012,2012,Cold wave,Peru,252.00
295,2012,2012,Cold wave,Poland,14.00
296,2012,2012,Cold wave,Bulgaria,3.00
297,2012,2012,Cold wave,Switzerland,11.00
298,2012,2012,Cold wave,Czechia,7.00
299,2012,2012,Cold wave,Germany,2.00
300,2012,2012,Cold wave,Croatia,4.00
301,2012,2012,Cold wave,Lithuania,6.00
302,2012,2012,Cold wave,Poland,177.00
303,2012,2012,Cold wave,Russian Federation,170.00
304,2012,2012,Cold wave,Serbia,6.00
305,2012,2012,Cold wave,Ukraine,83.00
306,2012,2013,Cold wave,Bangladesh,72.00
307,2013,2013,Cold wave,Nepal,49.00
308,2012,2013,Severe winter conditions,Kazakhstan,NaN
309,2012,2013,Cold wave,India,249.00
310,2012,2012,Severe winter conditions,China,NaN
311,2012,2012,Cold wave,Kyrgyzstan,16.00
312,2013,2013,Severe winter conditions,Belarus,4.00
313,2013,2013,Severe winter conditions,Tajikistan,NaN
314,2013,2013,Cold wave,Poland,25.00
315,2013,2013,Heat wave,India,557.00
316,2013,2013,Heat wave,Japan,338.00
317,2013,2013,Severe winter conditions,Peru,1.00
318,2013,2013,Heat wave,Bolivia (Plurinational State of),18.00
319,2013,2013,Severe winter conditions,Chile,NaN
320,2013,2013,Severe winter conditions,Canada,10.00
321,2013,2013,Severe winter conditions,United States of America,19.00
322,2013,2013,Heat wave,United Kingdom of Great Britain and Northern I...,760.00
323,2013,2014,Severe winter conditions,Armenia,NaN
324,2013,2013,Heat wave,China,40.00
325,2014,2014,Cold wave,Canada,NaN
326,2014,2014,Cold wave,United States of America,21.00
327,2014,2014,Heat wave,Australia,139.00
328,2014,2014,Severe winter conditions,Belarus,2.00
329,2014,2014,Cold wave,Poland,78.00
330,2014,2014,Cold wave,Romania,13.00
331,2014,2014,Severe winter conditions,Slovenia,1.00
332,2014,2014,Cold wave,India,24.00
333,2014,2014,Severe winter conditions,Serbia,NaN
334,2014,2014,Cold wave,Thailand,63.00
335,2014,2015,Severe winter conditions,North Macedonia,NaN
336,2014,2014,Cold wave,India,16.00
337,2014,2014,Severe winter conditions,India,140.00
338,2014,2015,Severe winter conditions,Guatemala,NaN
339,2014,2014,Heat wave,Pakistan,139.00
340,2014,2014,Cold wave,Peru,505.00
341,2014,2014,Heat wave,Japan,27.00
342,2015,2015,Heat wave,India,2248.00
343,2015,2015,Heat wave,Pakistan,1229.00
344,2015,2015,Cold wave,Peru,21.00
345,2015,2015,Heat wave,Egypt,110.00
346,2015,2015,Heat wave,Sudan,16.00
347,2015,2015,Heat wave,Belgium,410.00
348,2015,2015,Heat wave,France,3275.00
349,2015,2016,Severe winter conditions,Mongolia,NaN
350,2015,2015,Heat wave,Japan,32.00
351,2015,2015,Cold wave,Poland,77.00
352,2015,2015,Heat wave,Japan,2.00
353,2015,2015,Heat wave,Japan,5.00
354,2016,2016,Cold wave,Poland,21.00
355,2016,2016,Cold wave,Ukraine,37.00
356,2016,2016,Cold wave,China,5.00
357,2016,2016,Cold wave,Japan,8.00
358,2016,2016,Cold wave,Republic of Korea,6.00
359,2016,2016,Cold wave,Thailand,14.00
360,2016,2016,Cold wave,Taiwan (Province of China),85.00
361,2016,2016,Heat wave,South Africa,11.00
362,2016,2016,Cold wave,Morocco,NaN
363,2016,2016,Heat wave,India,300.00
364,2016,2017,Severe winter conditions,Mongolia,NaN
365,2016,2016,Heat wave,Japan,3.00
366,2017,2017,Severe winter conditions,Albania,6.00
367,2017,2017,Severe winter conditions,Belarus,43.00
368,2017,2017,Severe winter conditions,Greece,NaN
369,2017,2017,Severe winter conditions,North Macedonia,3.00
370,2017,2017,Severe winter conditions,Serbia,6.00
371,2017,2017,Severe winter conditions,Ukraine,37.00
372,2017,2017,Cold wave,Morocco,NaN
373,2017,2017,Cold wave,Algeria,NaN
374,2017,2017,Cold wave,Morocco,NaN
375,2017,2017,Heat wave,India,264.00
376,2018,2018,Cold wave,Bangladesh,34.00
377,2018,2018,Cold wave,Morocco,NaN
378,2018,2018,Cold wave,India,44.00
379,2018,2018,Cold wave,Nepal,50.00
380,2018,2018,Cold wave,Czechia,3.00
381,2018,2018,Cold wave,Estonia,7.00
382,2018,2018,Cold wave,France,3.00
383,2018,2018,Cold wave,Italy,1.00
384,2018,2018,Cold wave,Lithuania,5.00
385,2018,2018,Cold wave,Poland,9.00
386,2018,2018,Cold wave,Romania,2.00
387,2018,2018,Severe winter conditions,Mongolia,NaN
388,2018,2018,Heat wave,Pakistan,180.00
389,2018,2018,Heat wave,Canada,70.00
390,2018,2018,Heat wave,Japan,119.00
391,2018,2018,Heat wave,Republic of Korea,NaN
392,2018,2018,Heat wave,Belgium,NaN
393,2018,2018,Heat wave,Germany,NaN
394,2018,2018,Heat wave,Spain,9.00
395,2018,2018,Heat wave,France,NaN
396,2018,2018,Heat wave,United Kingdom of Great Britain and Northern I...,820.00
397,2018,2018,Heat wave,Italy,NaN
398,2018,2018,Heat wave,Netherlands (Kingdom of the),100.00
399,2018,2018,Heat wave,Portugal,NaN
400,2018,2018,Heat wave,Democratic People's Republic of Korea,NaN
401,2018,2019,Heat wave,Australia,NaN
402,2018,2019,Cold wave,Hungary,179.00
403,2019,2019,Cold wave,Algeria,8.00
404,2019,2019,Severe winter conditions,Republic of Moldova,NaN
405,2019,2019,Severe winter conditions,Mongolia,NaN
406,2019,2019,Heat wave,India,90.00
407,2019,2019,Heat wave,India,22.00
408,2019,2019,Heat wave,Belgium,128.00
409,2019,2019,Heat wave,Germany,4.00
410,2019,2019,Heat wave,Spain,2.00
411,2019,2019,Heat wave,France,567.00
412,2019,2019,Heat wave,United Kingdom of Great Britain and Northern I...,5.00
413,2019,2019,Heat wave,Italy,3.00
414,2019,2019,Heat wave,Austria,1.00
415,2019,2019,Heat wave,Belgium,400.00
416,2019,2019,Heat wave,Germany,NaN
417,2019,2019,Heat wave,France,868.00
418,2019,2019,Heat wave,Netherlands (Kingdom of the),400.00
419,2019,2019,Heat wave,Japan,162.00
420,2019,2019,Heat wave,Japan,11.00
421,2019,2019,Heat wave,Belgium,188.00
422,2019,2019,Heat wave,United Kingdom of Great Britain and Northern I...,161.00
423,2019,2019,Cold wave,Bangladesh,50.00
424,2020,2020,Cold wave,State of Palestine,3.00
425,2020,2020,Heat wave,Belgium,1687.00
426,2020,2020,Heat wave,France,1924.00
427,2020,2020,Heat wave,United Kingdom of Great Britain and Northern I...,2556.00
428,2020,2020,Heat wave,Netherlands (Kingdom of the),400.00
429,2021,2021,Heat wave,Canada,815.00
430,2021,2021,Heat wave,United States of America,229.00
431,2021,2021,Cold wave,France,NaN
432,2022,2022,Severe winter conditions,State of Palestine,4.00
433,2022,2022,Heat wave,India,25.00
434,2022,2022,Heat wave,Pakistan,NaN
435,2022,2022,Heat wave,Japan,80.00
436,2022,2022,Heat wave,Republic of Korea,2.00
437,2022,2022,Heat wave,Albania,352.00
438,2022,2022,Heat wave,Austria,419.00
439,2022,2022,Heat wave,Belgium,434.00
440,2022,2022,Heat wave,Bulgaria,1277.00
441,2022,2022,Heat wave,Switzerland,302.00
442,2022,2022,Heat wave,Cyprus,101.00
443,2022,2022,Heat wave,Czechia,279.00
444,2022,2022,Heat wave,Germany,8173.00
445,2022,2022,Heat wave,Denmark,252.00
446,2022,2022,Heat wave,Spain,11324.00
447,2022,2022,Heat wave,Estonia,167.00
448,2022,2022,Heat wave,Finland,225.00
449,2022,2022,Heat wave,France,4807.00
450,2022,2022,Heat wave,United Kingdom of Great Britain and Northern I...,3469.00
451,2022,2022,Heat wave,Greece,3092.00
452,2022,2022,Heat wave,Croatia,731.00
453,2022,2022,Heat wave,Hungary,513.00
454,2022,2022,Heat wave,Ireland,26.00
455,2022,2022,Heat wave,Italy,18010.00
456,2022,2022,Heat wave,Lithuania,381.00
457,2022,2022,Heat wave,Luxembourg,44.00
458,2022,2022,Heat wave,Latvia,105.00
459,2022,2022,Heat wave,Malta,76.00
460,2022,2022,Heat wave,Montenegro,50.00
461,2022,2022,Heat wave,Netherlands (Kingdom of the),469.00
462,2022,2022,Heat wave,Norway,30.00
463,2022,2022,Heat wave,Poland,763.00
464,2022,2022,Heat wave,Portugal,2212.00
465,2022,2022,Heat wave,Romania,2455.00
466,2022,2022,Heat wave,Serbia,574.00

In [147]:
data.shape

(535, 5)

In [148]:
data.isnull().sum().sort_values(ascending=False)

Total Deaths        91
Start Year           0
End Year             0
Disaster Subtype     0
Country              0
dtype: int64

In [149]:
data['Disaster Subtype'].value_counts(normalize=True)

Disaster Subtype
Heat wave                  0.45
Cold wave                  0.40
Severe winter conditions   0.14
Name: proportion, dtype: float64

In [150]:
data.columns

Index(['Start Year', 'End Year', 'Disaster Subtype', 'Country',
       'Total Deaths'],
      dtype='object')

In [151]:
features = ['DisNo.', 'Disaster Subtype',
       'Event Name', 'ISO', 'Country', 'Subregion', 'Region','Location',  'Origin', 'Associated Types', 'OFDA/BHA Response', 'Appeal',
       'Declaration', "AID Contribution ('000 US$)", 'Magnitude',
       'Magnitude Scale', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', "Total Damage ('000 US$)", "Total Damage, Adjusted ('000 US$)", 'CPI',
       'Admin Units', 'Entry Date', 'Last Update']

In [152]:
deaths = pd.read_csv('../data/raw/number-of-deaths-per-year.csv')
deaths['deaths'] = deaths['Deaths - Sex: all - Age: all - Variant: estimates'].fillna(
    deaths['Deaths - Sex: all - Age: all - Variant: medium']
)
deaths = deaths.drop([
    'Deaths - Sex: all - Age: all - Variant: estimates',
    'Deaths - Sex: all - Age: all - Variant: medium'
], axis=1)
deaths.head(5)

        Entity Code  Year    deaths
0  Afghanistan  AFG  1950 290972.00
1  Afghanistan  AFG  1951 288752.00
2  Afghanistan  AFG  1952 288059.00
3  Afghanistan  AFG  1953 287712.00
4  Afghanistan  AFG  1954 289189.00

In [153]:
deaths = deaths[deaths['Year'].between(2020, 2024)]
deaths = deaths.drop(columns= 'Code')
deaths.head()

         Entity  Year    deaths
70  Afghanistan  2020 295555.00
71  Afghanistan  2021 320101.00
72  Afghanistan  2022 243197.00
73  Afghanistan  2023 240296.00
74  Afghanistan  2024 243182.00

In [154]:
population = deaths = pd.read_csv('../data/raw/population.csv',header=1)
population.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54922.00,55578.00,56320.00,57002.00,57619.00,58190.00,58694.00,58990.00,59069.00,59052.00,58950.00,58781.00,58047.00,58299.00,58349.00,58295.00,58368.00,58580.00,58776.00,59191.00,59909.00,60563.00,61276.00,62228.00,62901.00,61728.00,59931.00,59159.00,59331.00,60443.00,62753.00,65896.00,69005.00,73685.00,77595.00,79805.00,83021.00,86301.00,88451.00,89659.00,90588.00,91439.00,92074.00,93128.00,95138.00,97635.00,99405.00,100150.00,100917.00,101604.00,101838.00,102591.00,104110.00,105675.00,106807.00,107906.00,108727.00,108735.00,108908.00,109203.00,108587.00,107700.00,107310.00,107359.00,107624.00,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130075728.00,133534923.00,137171659.00,140945536.00,144904094.00,149033472.00,153281203.00,157704381.00,162329396.00,167088245.00,171984985.00,177022314.00,182126556.00,187524135.00,193186642.00,198914573.00,204802976.00,210680842.00,217074286.00,223974122.00,230792729.00,238043099.00,245822010.00,253644643.00,261458202.00,269450407.00,277621771.00,286067346.00,294498625.00,302939121.00,311748681.00,320442961.00,329082707.00,338324002.00,347441809.00,356580375.00,366138524.00,375646235.00,385505757.00,395750933.00,406156661.00,416807868.00,427820358.00,439173286.00,450928044.00,463076637.00,475606210.00,488580707.00,502070763.00,516003448.00,530308387.00,544737983.00,559609961.00,575202699.00,590968990.00,607123269.00,623369401.00,640058741.00,657801085.00,675950189.00,694446100.00,713090928.00,731821393.00,750503764.00,769294618.00,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,9035043.00,9214083.00,9404406.00,9604487.00,9814318.00,10036008.00,10266395.00,10505959.00,10756922.00,11017409.00,11290128.00,11567667.00,11853696.00,12157999.00,12469127.00,12773954.00,13059851.00,13340756.00,13611441.00,13655567.00,13169311.00,11937581.00,10991378.00,10917982.00,11190221.00,11426852.00,11420074.00,11387818.00,11523298.00,11874088.00,12045660.00,12238879.00,13278974.00,14943172.00,16250794.00,17065836.00,17763266.00,18452091.00,19159996.00,19887785.00,20130327.00,20284307.00,21378117.00,22733049.00,23560654.00,24404567.00,25424094.00,25909852.00,26482622.00,27466101.00,28284089.00,29347708.00,30560034.00,31622704.00,32792523.00,33831764.00,34700612.00,35688935.00,36743039.00,37856121.00,39068979.00,40000412.00,40578842.00,41454761.00,42647492.00,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97630925.00,99706674.00,101854756.00,104089175.00,106388440.00,108772632.00,111246953.00,113795019.00,116444636.00,119203521.00,122086536.00,125072948.00,128176494.00,131449942.00,134911581.00,138569918.00,142337272.00,146258576.00,150402616.00,154721711.00,159166518.00,163762473.00,168585118.00,173255157.00,177880746.00,182811038.00,187889141.00,193104347.00,198485027.00,204062274.00,209566031.00,215178709.00,221191375.00,227246778.00,233360104.00,239801875.00,246415446.00,253207584.00,260297834.00,267506298.00,274968446.00,282780717.00,290841795.00,299142845.00,307725100.00,316588476.00,325663158.00,334984176.00,344586109.00,354343844.00,364358270.00,374790143.00,385360349.00,396030207.00,406992047.00,418127845.00,429454743.00,440882906.00,452195915.00,463365429.00,474569351.00,485920997.00,497387180.00,509398589.00,521764076.00,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5231654.00,5301583.00,5354310.00,5408320.00,5464187.00,5521981.00,5581386.00,5641807.00,5702699.00,5763685.00,5852788.00,5991102.00,6174262.00,6388528.00,6613367.00,6842947.00,7074664.00,7317829.00,7576734.00,7847207.00,8133872.00,8435607.00,8751648.00,9082983.00,9425917.00,9779120.00,10139450.00,10497858.00,10861291.00,11238562.00,11626360.00,12023529.00,12423712.00,12827135.00,13249764.00,13699778.00,14170973.00,14660413.00,15159370.00,15667235.00,16194869.00,16747208.00,17327699.00,17943712.00,18600423.00,19291161.00,20015279.00,20778561.00,21578655.00,22414773.00,23294825.00,24218352.00,25177394.00,26165620.00,27160769.00,28157798.00,29183070.00,30234839.00,31297155.00,32375632.00,33451132.00,34532429.00,35635029.00,36749906.00,37885849.00,NaN

In [155]:
cols = ['Country Name', '2020', '2021', '2022', '2023', '2024']
population = population[cols]
population.head()

,Country Name,2020,2021,2022,2023,2024
0,Aruba,108587.00,107700.00,107310.00,107359.00,107624.00
1,Africa Eastern and Southern,694446100.00,713090928.00,731821393.00,750503764.00,769294618.00
2,Afghanistan,39068979.00,40000412.00,40578842.00,41454761.00,42647492.00
3,Africa Western and Central,474569351.00,485920997.00,497387180.00,509398589.00,521764076.00
4,Angola,33451132.00,34532429.00,35635029.00,36749906.00,37885849.00

In [156]:
population = population.melt(id_vars=['Country Name'], 
                     var_name='Year', 
                     value_name='Population')
population.head()

                  Country Name  Year   Population
0                        Aruba  2020    108587.00
1  Africa Eastern and Southern  2020 694446100.00
2                  Afghanistan  2020  39068979.00
3   Africa Western and Central  2020 474569351.00
4                       Angola  2020  33451132.00

In [ ]:
print(deaths.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', 'Unnamed: 69'],
      dtype='object')

In [142]:
# same names
data['Country'] = data['Country'].str.strip()
data['Year'] = data['Start Year']

population['Country'] = population['Country Name'].str.strip()
population['Year'] = population['Year'].astype(int)

deaths['Country'] = deaths['Entity'].str.strip()
deaths['Year'] = deaths['Year'].astype(int)
weather_pop = weather.merge(population[['Country', 'Year', 'Population']],
                            on=['Country', 'Year'], how='left')

KeyError: 'Entity'

In [ ]:
weather_pop.head()